@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #2b373d;
}

.container {
  width: 30%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
}

.container p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 3%;
}

.container input {
  width: 100%;
  height: 20%;
  border: 1px solid black;
  outline: 0;
  padding: 6%;
  margin: 3% 0% 5% 0%;
  border-radius: 5px;
}

.container button {
  width: 100%;
  height: 40%;
  background: rgb(4, 4, 78);
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px black;
  cursor: pointer;
  margin: 5% 0;
  font-weight: 500;
  font-size: 16px;
  padding: 4%;
}

#imgBox {
  width: 50%;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

#imgBox img {
  width: 100%;
  padding: 2%;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 2% auto;
  border: 1px solid rgb(197, 197, 197);
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
